<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+) index.php?dir=$1 [NC,L]
    SetEnv RW 1
</IfModule>

Options -indexes

<IfModule mod_php5.c>
  php_value magic_quotes_gpc "0"
</IfModule>
