body{
    direction: rtl;
}

div.code{
    direction: ltr;
    font-family: monospace;
    font-size: smaller;
}

div.path{
    direction: ltr;
    font-family: monospace;
    font-size: smaller;
    color: #E87F8C;
    margin: 0;
    padding: 15px 0 0 0;
}

div.img {
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

embed {
    height: 100%;
    overflow: hidden;
}
iframe {
    margin: 15px 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 3px solid #97D356;
    -moz-border-radius: 7px;
}
